API_BASE_URL=http://192.168.1.105:8000
FRONT_BASE_URL=http://localhost:3000
TZ=Asia/Almaty
NEXT_PUBLIC_DEFAULT_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIiwicm9sZSI6ImFkbWlzc2lvbnMiLCJ0eXBlIjoiYWNjZXNzIiwianRpIjoiMjdmMjE5ODYtYjU2MS00NjIyLTkyNzEtMWU5ZDU1M2Y2ZDQ1IiwiaWF0IjoxNzc1MTI5NDgwLCJleHAiOjIwOTA0ODk0ODB9.ayg-6XtMqejILqbosuXGSPjlRTza_YwHzxxD1-TnH48
