@import "tailwindcss";

@theme {
  --color-invision-light: #F8F9F0;
  --color-invision-accent: #84CC16;
}

body {
  background-color: var(--color-invision-light);
  color: #111827; /* Tailwind gray-900 */
}
